.main {
  display: flex;

}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  width: 50%;
}

.input-text {
  display: flex;
  max-width: 400px;
  min-width: 100px;
  height: 30px;
  font-size: 90%;
}

.div-button{
  display: flex;
  justify-content: center;
  padding-top: 2px;
  max-width: 408px;
}

.button {
  max-width: 150px;
}

.container1 {
  display: flex;
  background-color: white;
  width: 50%;
  padding-right: 5%;
}