.main {
  display: flex;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
  width: 50%;
}

.input-text,
.textarea,
.button {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box; /* Garante que a largura total inclui bordas e preenchimento */
}

.textarea {
  height: 60px;
}

.div-button {
  display: flex;
  justify-content: center;
}

.container1 {
  width: 50%;
  padding-right: 5%;
  background-color: #fff;
}
